body {
  font-family: "Montserrat", sans-serif;
  background-color: #202020;
  color: #dbdbdb;
}

.container {
  margin: 2rem auto;
  padding: 1rem;
  width: 50%;
  height: 90vh;
  background-color: #474747;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.container input,
.container button {
  width: 80%;
}

.container .hex-box {
  width: 200px;
  height: 200px;
  margin: 2rem;
  background-color: lightcoral;
  border-radius: 5px;
  border: 2px solid #202020;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
}
